@import 'partials/reset.scss';
@import 'partials/variables.scss';
@import 'partials/icons.scss';
@import 'partials/skeleton.scss';
@import 'partials/header.scss';
@import 'partials/summary.scss';
@import 'partials/paginator.scss';
@import 'partials/post.scss';
@import 'partials/content.scss';
@import 'partials/shortcodes.scss';
@import 'partials/table.scss';
@import 'partials/syntax.scss';
@import 'partials/links.scss';
@import 'partials/misc.scss';
@import 'partials/terms.scss';
@import 'partials/resume.scss';
