{{ define "title" -}}
  {{ .Title }} | {{ .Site.Params.seotitle | default .Site.Title }}
{{- end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-list">
    <header class="list-header offscreen">
      <h2 class="list-label">Posts List</h2>
    </header>
    {{ range (where .Site.RegularPages "Type" "post").GroupByDate "Jan 2006" -}}
      <h3>{{ .Key }}</h3>
      <ol>
        {{ range .Pages -}}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;&nbsp;({{ .Date.Format "Jan 2, 2006" }})</li>
        {{ end -}}
      </ol>
    {{ end -}}
  </section>
  {{ partial "footer.html" . }}
{{ end }}
