{{ define "title" }}
  {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
  → Tags
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main term-list">
    {{ $data := .Data }}
    <header class="term-header">
      <h2>标签</h2>
    </header>

    <div class="term-tags">
      {{ range $key,$value := .Data.Terms.ByCount }}
        <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}" style="font-size: {{ add (mul $value.Count 3.17) 12.83 }}px;"> {{ $value.Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ partial "footer.html" . }}
{{ end }}