@import 'partials/reset';
@import 'partials/variables';
{{- with .Site.Params.fontAwesome -}}
{{- else -}}
@import 'partials/icons';
{{- end -}}
@import 'partials/skeleton';
@import 'partials/header';
@import 'partials/summary';
@import 'partials/paginator';
@import 'partials/posts';
@import 'partials/content';
@import 'partials/shortcodes';
@import 'partials/table';
@import 'partials/syntax';
@import 'partials/links';
@import 'partials/misc';
@import 'partials/terms';
@import 'partials/resume';
