<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
  var comment_id = "{{ .UniqueID }}";
  var page_url = decodeURI({{ .URL }});
  if (page_url.length <= 50) {
    comment_id = page_url
  }
  if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
    console.log(comment_id, comment_id.length);
    document.getElementById('gitalk-container').innerHTML =
      'Gitalk comments not available by default when the website is previewed locally.';
  } else {
    var Gitalk = new Gitalk({
      clientID: {{ .Site.Params.GitalkClientID }},
      clientSecret: {{ .Site.Params.gitalkClientSecret }},
      repo: {{ .Site.Params.GitalkRepo }},
      owner: {{ .Site.Params.GitalkOwner }},
      admin: {{ .Site.Params.GitalkAdmin }},
      id: comment_id, // Ensure uniqueness and length less than 50
      distractionFreeMode: false // Facebook-like distraction free mode
    })
    Gitalk.render('gitalk-container')
  }
</script>
